@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
body{
  background-color: #0e100f;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0, 0, 0.45, 1.36);
  cursor: none;
}
*{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fffce1;
}
.mainBody{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
::-webkit-scrollbar{
  width: 11px;
}
::-webkit-scrollbar-thumb{
  background: #7c7c6f;
  border-radius: 5px;
  border: 2px solid #7c7c6f;
}
::-webkit-scrollbar-track{
  background: transparent;
}
.cursor{
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fffce1;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  mix-blend-mode: difference;
}
@media screen and (max-width: 426px) {
  .cursor{
    display: none;
  }
}